#hero {
    background-image: url(../images/gauravdeep-singh-bansal-caC13DIDe9E-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#hero .d-flex {
    height: 70vh;
}